<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dailycooking.mapper.MemberMapper">
	<resultMap type="com.dailycooking.domain.MemberVO" id="memberMap">
		<id property="userid" column="userid"/>
		<result property="userid" column="userid"/>
		<result property="userpw" column="userpw"/>
		<result property="username" column="username"/>
		<result property="nickname" column="nickname"/>
		<result property="usermail" column="usermail"/>
		<result property="regDate" column="regdate"/>
		<result property="suspension" column="suspension"/>
		<collection property="authList" resultMap="authMap"/>
	</resultMap>
	
	<resultMap type="com.dailycooking.domain.AuthVO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<select id="readInfo" resultMap="memberMap">
	select 
		mem.userid, userpw, username, nickname, usermail, regdate, suspension, auth
	from 
		daily_member mem, daily_member_auth auth
	where
		mem.userid = auth.userid AND mem.userid = #{userid}
	</select>
	
	<select id="read" resultType="com.dailycooking.domain.MemberVO">
	select
		userid, userpw, username, nickname, usermail, regdate, suspension
	from
		daily_member
	where userid = #{userid}
	</select>
	
	<select id="read2" resultType="com.dailycooking.domain.AuthVO">
	select
		userid, auth
	from
		daily_member_auth
	where userid = #{userid}
	</select>
</mapper>