<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dailycooking.mapper.RecipeAttachMapper">
	
	<insert id="insert">
		insert into recipe_attach (uuid, uploadpath, filename, recipenum)
		values (#{uuid}, #{uploadPath}, #{fileName}, #{recipenum})
	</insert>
	
	<delete id="delete">
		delete from recipe_attach where uuid = #{uuid}
	</delete>
	
	<select id="findByRecipenum" resultType="com.dailycooking.domain.RecipeAttachVO">
		select * from recipe_attach where recipenum = #{recipenum}
	</select>
	
	<delete id="deleteAll">
		delete recipe_attach where recipenum = #{recipenum}
	</delete>
	
	<select id="getOldFiles" resultType="com.dailycooking.domain.RecipeAttachVO">
		select * from recipe_attach where uploadpath = to_char(sysdate, 'yyyy\mm\dd')
	</select>
	
	<select id="allAttachList" resultType="com.dailycooking.domain.RecipeAttachVO">
		select * from recipe_attach
	</select>
</mapper>