<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dailycooking.mapper.RecipeMapper">
	<sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'I'.toString()">
							userid like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							cookingTag like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<select id="getList" resultType="com.dailycooking.domain.RecipeBoardVO">
		select * from recipe_board where recipenum > 0
	</select>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="recipenum" order="BEFORE" resultType="long">
			select seq_recipenum.nextval from dual
		</selectKey>
		insert into recipe_board(recipenum,title,material,personnel,cookingtime,cookinglevel,cookingorder,cookingtip,cookingtag,userid)
		values (#{recipenum}, #{title}, #{material},#{personnel},#{cookingTime},#{cookingLevel},
		#{cookingOrder},#{cookingTip},#{cookingTag},#{userid})
	</insert>
	
	<select id="read" resultType="com.dailycooking.domain.RecipeBoardVO">
		select * from recipe_board where recipenum = #{recipenum}
	</select>
	
	<delete id="delete">
		delete from recipe_board where recipenum = #{recipenum}
	</delete>
	
	<update id="update">
		update recipe_board set title = #{title}, material = #{material}, personnel = #{personnel},
		cookingtime = #{cookingTime}, cookinglevel = #{cookingLevel}, cookingorder = #{cookingOrder},
		cookingtip = #{cookingTip}, cookingTag = #{cookingTag}, updateDate = sysdate where recipenum = #{recipenum}
	</update>
	
	<select id="getListWithPaging" resultType="com.dailycooking.domain.RecipeBoardVO">
	<![CDATA[
		select * 
		from ( select /*+ INDEX_DESC(recipe_board sys_c007814) */
    			rownum rn, recipenum, title, material, personnel, cookingtime, cookinglevel, cookingorder, cookingtip,
    			cookingtag, replycnt, likecnt, scrapcnt, userid
			   from recipe_board where
		]]>
		
		<include refid="criteria"></include>
		   
		<![CDATA[	   
			    rownum <= #{pageNum} * #{amount}
			  )
		where rn > (#{pageNum} -1) * #{amount}
	]]>
	</select>
	<select id="getTotalCount" resultType="int">
		select count(*) from recipe_board where
		<include refid="criteria"></include>
		recipenum > 0
	</select>
	
	<update id="recipeLookCntUp">
		update recipe_board set lookcnt = lookcnt+1 where recipenum = #{recipenum}
	</update>
</mapper>